@model U2_W2_D5_Homework_Backend.Models.Camera

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Camera</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descrizione)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descrizione)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Doppia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Doppia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Disponibilita)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Disponibilita)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
